<div class="router-content">
    <br>
    <br>
    <br>
<div id="appName">
This is Egypt!
</div>
<div id="Aim">
    Aim:
<div>
    <p>The aim of this website is to inform visitors more about tourism in Egypt.
    The Cities tab will infrom you more baout Egyptian cities, 
    the Weather tab will display the weather at certain Egyptian areas.
    Finally, Tech ideas tab will display a form wich the suer might fill is ther have a 
    technical idea to improve tourism in Egypt.
    </p>
</div>
<br/>
<img [src]="pyramidsUrl"/>
</div>